[submodule "externals/inih"]
	path = externals/inih
	url = git@github.com:benhoyt/inih.git
[submodule "externals/mongoose"]
	path = externals/mongoose
	url = git@github.com:cesanta/mongoose.git
[submodule "externals/easywsclient"]
	path = externals/easywsclient
	url = git@github.com:dhbaird/easywsclient.git
